﻿body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #e6dddd;
    border-radius: 0.3em;
}

    *[role="form"] h2 {
        margin-left: 5em;
        margin-bottom: 1em;
    }
