﻿@model Complain.Models.Account

@{
    ViewBag.Title = "DeleteAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Id Account</div>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id_Account)
        </dd>
        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> User Name</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Faculty</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Department</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Password</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Name</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Gender</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Brithday</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brithday)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Email</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold">Avatar</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListAccount")
        </div>
    }
</div>
