﻿@model Complain.Models.Claim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Department</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold">User name:</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Title</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            <div class="control-label col-md-2" style="font-weight:bold"> Description</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            <div class="control-label col-md-2" style="font-weight:bold">Create Time</div>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
