﻿@model Complain.Models.Claim

@{
    ViewBag.Title = "Detail Claim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail Claim </h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_claims)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_claims)
        </dd>

        <dt>
            User name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            File
        </dt>

        <dd>
            @if (int.Parse(Session["department"].ToString()) == 4)
            {
                <p>Not Permission</p>
            }
            else
            {
                <a href="@Html.DisplayFor(model => model.Pdf)">Download</a>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt></dt>
        <dd>
            @if (int.Parse(Session["department"].ToString()) == 4)
            {
            }
            else
            {
                <form action="" method="post">
                    <input type="submit" value="Done" class="btn btn-default" />
                </form>
            }
            
        </dd>
    </dl>
</div>
   
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_claims }) |
    @Html.ActionLink("Back to List", "Index")
</p>
