﻿@using Complain.Models
@using PagedList.Mvc;
@model  PagedList.PagedList<Complain.Models.Claim>
@helper Truncate(string input, int length)
{
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>

}
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel-heading">
    <i class="fa fa-bar-chart-o fa-fw"></i> List Claim
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>User</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>File</th>
                        <th>Date Send</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Truncate(item.Description, 100)
                            </td>
                            <td>
                                @if (int.Parse(Session["department"].ToString()) == 4)
                                {
                                    <p>Not Permission</p>
                                }
                                else
                                {
                                    @Html.ActionLink("Download", "DownloadFile", new { filename = item.Pdf })
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateTime)
                            </td>
                            <td>
                                @if (item.Status == 0)
                                {
                                    <p style="color:red">Watting</p>
                                }
                                else if (item.Status == 1)
                                {
                                    <p style="color:orange">In Progress</p>
                                }
                                else
                                {
                                    <p style="color:green">Success</p>
                                }

                            </td>
                            <td>
                                @if (int.Parse(Session["department"].ToString()) == 4)
                                {
                                    @Html.ActionLink("View", "DetailClaim", new { id = item.Id_claims })
                                }
                                else
                                {
                                    @Html.ActionLink("View", "DetailClaim", new { id = item.Id_claims })<a>|</a>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_claims })<a>|</a>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_claims })
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>
@*Liên kết trang*@
Trang  @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Claims", new { page = page }))

</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

