﻿@model Complain.Models.Claim
@{ 
    Layout = null;
}
<head>
    <title>Complain Form</title>
</head>
<div class="container">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <h2>Claim Form</h2>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Title</label>
            <div class="col-sm-9">
                <input type="text" name="title" placeholder="Title" class="form-control" autofocus>
            </div>
        </div>
        @*<div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" placeholder="Email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" class="form-control">
            </div>
        </div>*@
        <div class="form-group">
            <label for="country" class="col-sm-3 control-label">Department</label>
            <div class="col-sm-9">
                @Html.DropDownList("Id_department");
        </div>
        </div> <!-- /.form-group -->
        @*<div class="form-group">
            <label class="control-label col-sm-3">Gender</label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="femaleRadio" value="Female">Female
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="maleRadio" value="Male">Male
                        </label>
                    </div>
                    <div class="col-sm-4">
                        <label class="radio-inline">
                            <input type="radio" id="uncknownRadio" value="Unknown">Unknown
                        </label>
                    </div>
                </div>
            </div>
        </div> <!-- /.form-group -->
        <div class="form-group">
            <label class="control-label col-sm-3">Meal Preference</label>
            <div class="col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="calorieCheckbox" value="Low calorie">Low calorie
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="saltCheckbox" value="Low salt">Low salt
                    </label>
                </div>
            </div>
        </div> <!-- /.form-group -->*@
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9 col-sm-offset-3">
                <textarea rows="4" name="description" cols="50"></textarea> 
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label">File Pdf</label>
            <div class="col-sm-9 col-sm-offset-3">
                <input type="file" name="upload" accept=".pdf" accept="file_pdf/*" />
            </div>
        </div>
        <br/>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3 " >
                <button type="submit" class="btn btn-primary btn-block">Send</button>
            </div>
        </div>

    </form> <!-- /form -->
</div> <!-- ./container -->
<link href="~/Content/student.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />